---
---


@import "{{ site.theme }}";


a:hover, a:visited, a:active, a:focus{
  text-decoration: underline;
  font-weight: normal;
}

body {
  padding:50px;
  font-size: 15px;
}

h1 {
  font-size:27px;
  color: #267CB9;
}
